html{
    font-size: 62.5%;
}
body{
    font-family: Lobster;
    /* margin-top: 3rem; */
    margin-top: 30px;

    background-color: #FBF6EE;
    /* color: #CCCCCC; */
    color: #FFFFFF;
    
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0%;
}
.all_container{
    max-width: 70rem;
    height: auto;
    margin: 0 auto;
    background-color:#3559E0;
    /* padding: 4rem; */
    padding-bottom: 20px;
    /* height: 70vh; */
    border-radius: 1rem;
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.9);
    animation: animate 7s ease-in;
}

.resultcontainer{
    display: flex;
    justify-content: center;
    gap: 10rem;
    font-size: 2rem;
    margin-top: 2rem;
  
}
.result_viewer{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8rem;
}
.winner{
    text-align: center;
    font-size: 3rem;

}
.form{
   
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-left: 50px;
  gap:2rem

}
.btn-1{
    width: 7rem;
    height: 7rem;
    border-radius: 1rem;
    color: transparent;
    text-indent: 100%;
    white-space: nowrap;
    margin-right:1rem;
}
.papper{
  
    background-image: url("pepper.webp");
    background-size: cover;
    background-position: center;
}

@keyframes animate{
    0%{
      opacity: 5%;
    }
    25%{
      opacity: 15%;  
    }
   
    50%{
         opacity: 50%;
    }
    75%{
        opacity: 75%;
    }
    100%{
      opacity: 100%;  
    }
}



.rock{
  
    background-image: url("ston.avif");
    background-size: cover;
    background-position: center;
}

.scior{
  
    background-image: url("scicor.avif");
    background-size: cover;
    background-position: center;
}
.img{
    width: 20rem;
    height: auto;
    position: relative;
    top: 10%;
    left: 35%;
    border-radius: 1rem;
    margin: 30px 20px;
    /* z-index: -1; */
}
.pop{
    z-index: 99999999;
    width: 30rem;
    height: 18rem;
    background-color:white;
    position: absolute;
    top: 29%;
    left: 40%;
    border-radius: 1rem;
    /* color: rgb(0, 0, 128); */
    color: #36454F;
}
.popbutton{
    margin-top: 3rem;
    margin-left: 13rem;
    width: 5rem;
    background-color: #3559E0;
    border-radius: 0.55rem;
    
}
.popbutton:hover{
    background-color: gray;
   transform: scaleX(1.2);
}
.winner_js{
    margin-top: 4rem;
    padding: 1.5rem;
    
    border: 1px solid black;
    border-radius: 1rem;

}




/* media query */
@media screen and (max-width: 300px) {
    /* CSS rules to apply when the condition is met */
    .img{
        width: 20rem;
        height: auto;
        position: relative;
        top: 10%;
        left: 15%;
        border-radius: 1rem;
        /* margin: 30px 20px; */
        margin: 20px 0;
        /* z-index: -1; */
    } 
  }